.nft-card-area {
	display: grid;
	gap: 40px;
	.nft-card-title {
		font-size: 28px;
		font-weight: 900;
		color: #fff;
		text-align: center;
	}
	.nft-cards {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
		.nft-card-details {
			display: grid;
			grid-template-rows: subgrid;
			grid-row: span 3;
			gap: 10px;
			padding: 0.5rem;
			background: linear-gradient(
				311deg,
				rgba(35, 15, 66, 1) 0%,
				rgba(255, 255, 255, 1) 100%
			);
			color: #fff;
			border-radius: 10px;
			.nft-card-info {
				display: flex;
				align-items: center;
				gap: 10px;
				.primary-img {
					width: 50px;
					height: 50px;
					object-fit: contain;
				}
				.nft-card-name {
					flex-grow: 1;
					display: grid;
					strong {
						font-size: 16px;
						line-height: 16px;
					}
					span {
						font-size: 10px;
						line-height: 10px;
					}
				}
				.secondary-img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					object-fit: contain;
				}
			}
			.nfts {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 10px;
				.nft-money {
					display: grid;
					strong {
						font-size: 16px;
						line-height: 16px;
					}
					span {
						font-size: 12px;
						line-height: 12px;
					}
				}
			}
		}
	}
}
