.modal-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #dfdfdf;
	h4 {
		font-size: 20px;
		line-height: 2cqw;
	}
}
.modal-content {
	padding: 10px;
}
.modal-footer {
	border-top: 1px solid #dfdfdf;
	padding: 10px;
}
.modal-backdrop {
	background: #aaaaaa2e;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9998;
}
.modal-backdrop {
	background: #aaaaaa2e;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9998;
}
.modal-container {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}
