.nft-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 10px;
	color: white;
	.header-info {
		display: grid;
		gap: 40px;
		.header-info-title {
			font-size: 56px;
			font-weight: 700;
			letter-spacing: -0.02em;
			line-height: 1.4em;
			display: grid;
		}
		.header-info-desc {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
		.header-counts {
			display: flex;
			gap: 60px;
			margin-top: 40px;
			.header-count {
				display: grid;
				strong {
					font-size: 32px;
					line-height: 32px;
				}
				small {
					font-size: 16px;
					line-height: 16px;
				}
			}
		}
	}
	@media (max-width: 991px) {
		grid-template-columns: 1fr;
		gap: 60px;
		.header-info {
			gap: 20px;
			.header-info-title {
				font-size: 32px;
			}
			.header-info-desc {
				line-height: 20px;
			}
			.header-counts {
				margin-top: 20px;
				gap: 40px;
				.header-count {
					strong {
						font-size: 28px;
						line-height: 28px;
					}
					small {
						font-size: 14px;
						line-height: 14px;
					}
				}
			}
		}
	}
}
